<h2 class="headline">ようこそ Bookers へ！</h2>

<p class="top-text">Bookersでは、さまざまな書籍に関するあなたの意見や
				    <br>印象を共有し交換することができます</br></p>

<a class="top-start" href="http://localhost:3000/posts">Start</a>



